<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jjojjo.mybatis.mybatis.boardMapper">
    
    <!-- select 문. 전체 글 조회 -->
	<select id="getList" resultType="com.jjojjo.mybatis.domain.BoardDTO">
		select * from tblSpringBoard order by seq desc
	</select>
	
	<!-- insert 문. 글 쓰기. QUERY문 잘 비교 해 보자. -->
	<insert id="write" parameterType="com.jjojjo.mybatis.domain.BoardDTO">
		INSERT INTO tblspringboard (title, content, writer, regdate, hitcount, password) VALUES (#{title}, #{content}, #{writer}, now(), 0, '1111')
	</insert>
	
	<!-- 글 상세. -->
	<select id="findBySeq" parameterType="int" resultType="BoardDTO">
		select * from tblSpringBoard where seq=#{seq}
	</select>
	
	<!-- 글 수정. -->
	<select id="update" parameterType="BoardDTO">
		UPDATE tblspringboard SET title=#{title}, content=#{content}, writer=#{writer} WHERE seq=#{seq}
	</select>
</mapper>